@charset "utf-8";
/* CSS Document */

body {
    padding-top: 0px;
	background-color: rgb(25, 25, 25);
	background-image: url(../assets/background/background1_Blur.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.container {
    margin-top: 0pt;
    padding-top: 50px;
}

.sectionContainer {
    background-color: rgba(255, 255, 255, 0.2);
	border-radius: .3rem;
	padding: 10px;
	
	margin-top: 50px;
	margin-bottom: 50px;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.sectionHeader {
    color: #ffffff!important;

    border: 1px solid #53006E;
	background-color: #53006E;
	border-radius: .25rem;
	
	padding-top: 10px;
	padding-bottom: 15px;
}

.sectionLink {
    position: relative;
    top: -100px;
}

.topOfPageLink {
    position: absolute;
    top: -1000px;
}

.itemLink {
    position: relative;
    top: -70px;
    left: 0px;
}

.itemLinkEnd {
    position: relative;
    top: 0px;
    left: 0px;
}

.resumeItem {
    position: relative;
    margin: 10pt auto;
}

.cardDetailsCentered {
	text-align: center;
}

.itemTitle {
    color: rgb(31, 56, 100);
}

.itemOrganisation {
    color: rgb(20, 25, 50);
}

.itemDuration {
	border: 1px solid white;
	border-radius: 50px;
	background-color: white;
	height: 30px;
	padding: 3px 0px 0px 0px;
    font-size: 18px;
    color: rgb(20, 25, 50);
    font-weight: 600;
    margin-bottom: 0px;
}

p.itemText {
    margin-bottom: auto;
}

.itemText p:last-child {
    margin-bottom: 0pt;
}

ul.itemText {
    padding-left: 1em;
    margin-bottom: 0pt;
}

.itemText li {
    margin-bottom: 5pt;
}

.itemText li:first-child {
    margin-top: 10pt;
}

.itemText li:last-child {
    margin-bottom: 0pt;
}

.cardBackground {
    border: 1px solid rgba(0, 0, 0, 0.125);
	background-color: #ffffff;
}

.carousel-item img {
    width: 100%;
}

.wip {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	background-color: white;
	color: black;
	
    text-decoration: none;
	font-weight: bold;
	
	padding: 2px 5px;
	margin: 5px;
	
	border: 1px solid white;
	border-radius: 50px;
}

/** Theme encoding */
.header {
	background-color: var(--themeMainText);
	background: linear-gradient(40deg, var(--themeMain) 0%, var(--themeMainAccent) 100%);
}

.sectionHeader {
    color: var(--themeMainText);
	background-color: var(--themeMainAccent);
	background: linear-gradient(40deg, var(--themeMainAccent) 0%, var(--themeMain) 100%);
}

.project-gamedev {
	background-color: var(--themeGameDev);
	background: linear-gradient(40deg, var(--themeGameDev) 0%, var(--themeGameDevAccent) 100%);
}
.project-gamedev .project-type { color: var(--themeGameDevText); }

.project-design {
	background-color: var(--themeDesign);
	background: linear-gradient(40deg, var(--themeDesign) 0%, var(--themeDesignAccent) 100%);
}
.project-design .project-type { color: var(--themeDesignText); }

.project-3d {
	background-color: var(--theme3D);
	background: linear-gradient(40deg, var(--theme3D) 0%, var(--theme3DAccent) 100%);
}
.project-3d .project-type { color: var(--theme3DText); }

.project-audiovisual {
	background-color: var(--themeAV);
	background: linear-gradient(40deg, var(--themeAV) 0%, var(--themeAVAccent) 100%);
}
.project-audiovisual .project-type { color: var(--themeAVText); }

.project-generic {
	background-color: var(--themeGeneric);
	background: linear-gradient(40deg, var(--themeGeneric) 0%, var(--themeGenericAccent) 100%);
}
.project-generic .project-type { color: var(--themeGenericText); }