body {
    padding-top: 0px;
	background-color: rgb(25, 25, 25);
	background-image: url(../assets/background/background1_Blur.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.sectionContainer {
    background-color: rgba(255, 255, 255, 0.2);
	border-radius: .3rem;
	padding: 10px;
	
	margin-top: 50px;
	margin-bottom: 50px;

    backdrop-filter: blur(10px);
}

.sectionHeader {
    color: #ffffff!important;

    border: 1px solid #53006E;
	background-color: #53006E;
	border-radius: .25rem;
	
	padding-top: 10px;
	padding-bottom: 15px;
}

.resumeItem {
    margin: 10pt auto;
}

.cardDetailsCentered {
	text-align: center;
}

.accordian {
  cursor: pointer;
}

details summary::-webkit-details-marker {
    display:auto;
}

.detailArrow {
    margin: auto;
}
.detailArrowUp {
    transform: rotate(180deg);
}
.detailArrowDown {
    transform: rotate(0);
}

summary::marker {
    content: "";
}

summary:before {
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

.itemTitle {
    color: rgb(31, 56, 100);
}

.itemOrganisation {
    color: rgb(20, 25, 50);
}

.itemDuration {
	border: 1px solid white;
	border-radius: 50px;
	background-color: white;
	height: 30px;
	padding: 3px 0px 0px 0px;
    font-size: 18px;
    color: rgb(20, 25, 50);
    font-weight: 600;
    margin-bottom: 0px;
}

p.itemText {
    margin-bottom: auto;
}

.itemText p:last-child {
    margin-bottom: 0pt;
}

ul.itemText {
    padding-left: 1em;
    margin-bottom: 0pt;
}

.itemText li {
    margin-bottom: 5pt;
}

.itemText li:first-child {
    margin-top: 10pt;
}

.itemText li:last-child {
    margin-bottom: 0pt;
}

.cardBackground {
    border: 1px solid rgba(0, 0, 0, 0.125);
	background-color: #ffffff;
}

.carousel-item img {
    width: 100%;
}

.iconFull .icon {
    margin-right: 5pt;
}

.icon {
    height: 20px;
    width: 20px;
    margin: -1pt 1pt 0pt 1pt;
}

/* Icons from https://www.pngegg.com/ */
.iconUnity { content: url("/assets/icons/unity.png"); --iconText: "Unity3D"; }
.iconUE4 { content: url("/assets/icons/ue4.png"); --iconText: "Unreal Engine 4"; }
.iconUE5 { content: url("/assets/icons/ue5.png"); --iconText: "Unreal Engine 5"; }
.iconMaya { content: url("/assets/icons/maya.png"); --iconText: "Autodesk Maya"; }
.iconFusion360 { content: url("/assets/icons/fusion360.png"); --iconText: "Autodesk Fusion 360"; }
.iconSubstanceDesigner { content: url("/assets/icons/substancedesigner.png"); --iconText: "Substance Designer"; }
.iconSubstancePainter { content: url("/assets/icons/substancepainter.png"); --iconText: "Substance Painter"; }
.iconPhotoshop { content: url("/assets/icons/photoshop.png"); --iconText: "Adobe Photoshop"; }
.iconIllustrator { content: url("/assets/icons/illustrator.png"); --iconText: "Adobe Illustrator"; }
.iconPremiere { content: url("/assets/icons/premiere.png"); --iconText: "Adobe Premiere"; }
.iconAudition { content: url("/assets/icons/audition.png"); --iconText: "Adobe Audition"; }
.iconVS { content: url("/assets/icons/visualstudio.png"); --iconText: "Visual Studio"; }

.iconC { content: url("/assets/icons/c.png"); --iconText: "C"; }
.iconCPP { content: url("/assets/icons/cpp.png"); --iconText: "C++"; }
.iconCSharp { content: url("/assets/icons/csharp.png"); --iconText: "C#"; }
.iconPython { content: url("/assets/icons/python.png"); --iconText: "Python"; }
.iconR { content: url("/assets/icons/r.png"); --iconText: "R"; }
.iconJava { content: url("/assets/icons/java.png"); --iconText: "Java"; }
.iconHTML5 { content: url("/assets/icons/html5.png"); --iconText: "HTML5"; }
.iconCSS3 { content: url("/assets/icons/css3.png"); --iconText: "CSS3"; }
.iconJS { content: url("/assets/icons/js.png"); --iconText: "Javascript"; }
.iconVBA { content: url("/assets/icons/vba.png"); --iconText: "VBA"; }
.iconLatex { content: url("/assets/icons/latex.png"); --iconText: "LaTeX"; }

.wip {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	background-color: white;
	color: black;
	
    text-decoration: none;
	font-weight: bold;
	
	padding: 2px 5px;
	margin: 5px;
	
	border: 1px solid white;
	border-radius: 50px;
}

#main-holder {
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
  }
  
  #login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  #login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }
  
  #error-msg-second-line {
    display: block;
  }
  
  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .login-form-field::placeholder {
    color: #3a3a3a;
  }
  
  .login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
  }
  
  #login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
  }